.cabecalho {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    transition-duration: 0.5s;
}

.cabecalho_left {
    display: flex;
    align-items: center;
}

.open_menu {
    height: 2rem;
    margin-right: 10px;
}

.open_menu:hover {
    cursor: pointer;
}

.logo {
    height: 3rem;
}

.cabecalho_right a {
    text-decoration: none;
    color: #000;
    margin-left: 40px;
    font-size: 1.6rem;
}

