.menu_lateral {
    background-color: #1B2631;
    color: #FFFFFF;
    width: 375px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -375px;
    transition-duration: 1s;
}

.menu_lateral-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_lateral-cabecalho h2 {
    padding-top: 30px;
    padding-left: 30px;
}

.menu_lateral-cabecalho img {
    width: 64px;
    margin-right: 30px;
    margin-top: 15px;
}

.menu_lateral-cabecalho img:hover {
    cursor: pointer;
}

.menu_opcoes {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 30px;
}

.menu_opcoes a {
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 20px;
}