@media screen and (max-width: 375px) {
    .sobre_mim-parte_um, .sobre_mim-parte_dois, .sobre_mim-parte_tres {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .visualizador_de_imagens {
        width: 80vw;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .visualizador_de_imagens img {
        display: table;
        margin: 0 auto;
        width: 100%;
    }

    .container_de_imagens-container {
        display: table;
        margin: 0 auto;
    }
    
}

@media screen and (min-width: 375px) {
    .sobre_mim-parte_um, .sobre_mim-parte_dois, .sobre_mim-parte_tres {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .visualizador_de_imagens {
        width: 80vw;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .visualizador_de_imagens img {
        display: table;
        margin: 0 auto;
        width: 100%;
    }

    .container_de_imagens-container {
        display: table;
        margin: 0 auto;
    }
}

@media screen and (min-width: 720px) {
    .sobre_mim-parte_um, .sobre_mim-parte_dois, .sobre_mim-parte_tres {
        flex-direction: row;
    }

    .visualizador_de_imagens {
        display: table;
        margin: 0 auto;
        height: 386px;
        width: 640px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .visualizador_de_imagens img {
        display: table;
        margin: 0 auto;
        height: 100%;
    }
}

.sobre_mim {
    margin: 30px;
}

.sobre_mim h1 {
    margin-bottom: 20px;
}

.sobre_mim-parte_um-paragrafos, .sobre_mim-parte_dois-paragrafos, .sobre_mim-parte_tres-paragrafos {
    flex: 1;
}

.sobre_mim-container_imagem {
    height: 224px;
    width: 320px;
}

.sobre_mim-imagem {
    display: table;
    margin: 0 auto;
    height: 100%;
}

.listas_de_preferencias {
    padding: 30px;
    background-color: #EBDEF0;
}

.listas_de_preferencias h1 {
    margin-bottom: 20px;
}

.lista_de_programacao li, .lista_de_linguas li {
    margin-bottom: 10px;
    list-style-type: decimal;
}

.lista_de_musicas li, .lista_de_hobbies li {
    margin-left: 40px;
    margin-bottom: 10px;
    list-style-type: disc;
}

.portfolio_de_imagens {
    padding: 30px;
}

.container_de_imagens {   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container_de_imagens-container {
    height: 128px;
    width: 192px;
}

.container_de_imagens-container img {
    height: 100%;
    width: 192px;
}

.container_de_imagens-container img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

summary:hover {
    cursor: pointer;
}