.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #FFF;
}

.rodape img {
    height: 16px;
    margin-left: 20px;
}